<a href="https://colab.research.google.com/github/Girishma999/Data_science_bootcamp/blob/main/Data_science_Bootcamp_Datathon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
tax_data  = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/tax_payers/train_set_label.csv" )

In [ ]:
tax_data.head()

,Unnamed: 0,HHI,HHDL,Married,CollegGrads,AHHAge,Cars,Filed in 2017,Filed in 2016,Filed in 2015,PoliticalParty
0,61,183414,-12402,1,2,28,1,0,0,1,Democrat
1,501,129786,700251,2,5,63,3,0,0,0,Republican
2,658,268343,493411,2,4,44,1,1,0,1,Independent
3,703,290506,-433408,1,1,28,5,1,0,1,Republican
4,702,90108,907135,1,3,57,5,1,1,0,Democrat

In [ ]:
tax_data.describe()

,Unnamed: 0,HHI,HHDL,Married,CollegGrads,AHHAge,Cars,Filed in 2017,Filed in 2016,Filed in 2015
count,803.000000,803.000000,803.000000,803.000000,803.000000,803.000000,803.000000,803.000000,803.000000,803.000000
mean,502.241594,155402.688667,-15351.252802,0.971357,2.607721,60.559153,2.435866,0.506849,0.509340,0.516812
std,288.460068,86788.153213,595184.302049,0.803935,1.675492,25.071219,1.703542,0.500265,0.500224,0.500029
min,1.000000,185.000000,-999994.000000,0.000000,0.000000,18.000000,0.000000,0.000000,0.000000,0.000000
25%,254.500000,82373.000000,-516765.000000,0.000000,1.000000,38.000000,1.000000,0.000000,0.000000,0.000000
50%,501.000000,156542.000000,-24440.000000,1.000000,3.000000,60.000000,2.000000,1.000000,1.000000,1.000000
75%,754.500000,230772.000000,518135.500000,2.000000,4.000000,82.000000,4.000000,1.000000,1.000000,1.000000
max,1004.000000,299374.000000,999628.000000,2.000000,5.000000,105.000000,5.000000,1.000000,1.000000,1.000000

In [ ]:
Party = {'Democrat': 0,'Republican': 1,'Independent':2}
tax_data.PoliticalParty = [Party[item] for item in tax_data.PoliticalParty]
tax_data.head()

,Unnamed: 0,HHI,HHDL,Married,CollegGrads,AHHAge,Cars,Filed in 2017,Filed in 2016,Filed in 2015,PoliticalParty
0,61,183414,-12402,1,2,28,1,0,0,1,0
1,501,129786,700251,2,5,63,3,0,0,0,1
2,658,268343,493411,2,4,44,1,1,0,1,2
3,703,290506,-433408,1,1,28,5,1,0,1,1
4,702,90108,907135,1,3,57,5,1,1,0,0

In [ ]:
from sklearn.model_selection import train_test_split
X=tax_data.drop(['Unnamed: 0','PoliticalParty'],axis=1)
X.head()

In [ ]:
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(X)
normalized_X= pd.DataFrame(x_scaled)
scaler = StandardScaler()
X=scaler.fit_transform(X)

In [ ]:
y=tax_data['PoliticalParty']
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.33)

In [ ]:
from sklearn.linear_model import LogisticRegression
log_reg_classifier = LogisticRegression(random_state = 43)
log_reg_classifier.fit(X_train, y_train)

LogisticRegression(random_state=43)

In [ ]:
log_reg_classifier.score(X_test, y_test)

0.27547169811320754

In [ ]:
from sklearn.ensemble import RandomForestClassifier
model= RandomForestClassifier(random_state=1,n_estimators=1000,max_depth=5)
model.fit(X_train,y_train)

RandomForestClassifier(max_depth=5, n_estimators=1000, random_state=1)

In [ ]:
model.score(X_test,y_test)

0.3018867924528302

In [ ]:
model.score(X_train,y_train)

1.0

In [ ]:
from sklearn.svm import SVC
modelsvm=SVC()
modelsvm.fit(X_train,y_train)
modelsvm.score(X_test,y_test)

0.3471698113207547

In [ ]:
from sklearn.tree import DecisionTreeClassifier
modeldtc=DecisionTreeClassifier(max_depth=10)
modeldtc.fit(X_train,y_train)
modeldtc.score(X_test,y_test)

0.3018867924528302

In [ ]:
modeldtc.score(X_train,y_train)

0.7063197026022305